<title>Administrador</title>

<div id="container">
    <nav>
      <img src="pic/book.png" alt="">
      <div id="logo">
        <a href="index.php">LibreríaBDN</a>
      </div>
      <ul>
        <li class="element1"><a href="index.php?controller=libro&action=mostrarLibros">Productos</a></li>
		<li class="element1"><a href="index.php?controller=categoria&action=mostrarCategorias">Categorias</a></li>
		<li class="element3"><a href="index.php?controller=pedido&action=mostrarReservas">Pedidos</a></li>
        <li class="element4"><a href="index.php?controller=admin&action=salir">Cerrar sesión</a></li>
      </ul>
    </nav>
</div>